* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1196px;
    margin: 0 auto;
    padding: 0 10px;
}

.inner__header {
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 24px;
}

.menu__list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    color: #2F281E;
}

.user-nav {
    margin-left: 54px;
}

.user-nav__link {
    box-sizing: border-box;
    border: 2px solid #BCD0E5;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #173A56;
    text-decoration: none;
}

.user-nav__link+.user-nav__link {
    box-sizing: border-box;
    border-color: transparent;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #FF9900;
}