* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #544837;
}

.container {
    max-width: 1196px;
    margin: 0 auto;
    padding: 0 10px;
}

.inner__header {
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 24px;
}

.menu__list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    color: #2F281E;
}

.user-nav {
    margin-left: 54px;
}

.user-nav__link {
    box-sizing: border-box;
    border: 2px solid #BCD0E5;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #173A56;
    text-decoration: none;
}

.user-nav__link+.user-nav__link {
    box-sizing: border-box;
    border-color: transparent;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #FF9900;
}

.top__inner {
    background-image: url('../images/top-tb.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 130px 0 80px;
}

.top__title {
    margin-bottom: 30px;
    width: 485px;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    color: #2F281E;
}

.top__text {
    margin-bottom: 45px;
    width: 485px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.top__button {
    display: inline-block;
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    padding: 15px 40px;
    cursor: pointer;
}

.top__link {
    display: inline-block;
    font-weight: 600;
    font-style: 16px;
    line-height: 24px;
    color: #FF9900;
    margin-left: 44px;
    padding-left: 25px;
    position: relative;
}

.top__link::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 18px;
    height: 19px;
    background-image: url(../images/play-triangle.svg);
}